<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 block1">
            <img class="image1"
                src="https://static.vecteezy.com/system/resources/previews/005/638/074/non_2x/illustration-isometric-concept-safety-of-online-shopping-in-e-commerce-stores-free-vector.jpg"
                alt="shopEasy">
        </div>
        <div class="col-12 col-lg-6 block2 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle img-fluid logo my-0" src="./assets/logo.png" alt="shopEasy.logo">
            </div>
            <!-- Login Form -->
            <div class="card">
                <h1 class="py-lg-5 py-sm-3">Sign In</h1>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                    <div class="form-group">
                        <label for="emailId" class="form-label">Email</label>
                        <input type="text" class="form-control" id="emailId" name="userEmail" ngModel #email="ngModel"
                            required validateEmail placeholder="Enter your email Id">
                        <div *ngIf="email.touched && email.errors" class="text-danger">
                            <div *ngIf="email.errors['required']">Email is required</div>
                            <div *ngIf="email.errors['emailInvalid']">{{ email.errors['emailInvalid'].message }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="userPassword" ngModel #pwd="ngModel"
                            required minlength="8" placeholder="Enter your password">
                        <div *ngIf="pwd.touched && pwd.errors" class="text-danger">
                            <div *ngIf="pwd.errors['required']">Password is required</div>
                            <div *ngIf="pwd.errors['minlength']">Password requires a minimum of 8 characters</div>
                        </div>
                    </div>
                    <div class="form-group d-grid pt-4">
                        <button [disabled]="!loginForm.form.valid" type="submit"
                            class="btn btn-warning btn-block continue">Sign In</button>
                    </div>
                </form>
                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center mx-3 mb-0">New to shopEasy?</p>
                </div>
                <div class="form-group d-grid">
                    <button type="button" [routerLink]="['/auth/signUp']" class="btn btn-block create">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

