.container-fluid{
    padding-top: 50px;
    padding-right: 0;
}

.row{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.image1{
    height: 100%;
    width: 100%;
}
.card {
    border: 0;
    width: 100%;
    max-width: 400px;
    padding: 20px 20px 0 20px;
}
.logo {
 width: 75px;
 height: 75px;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 0.5px;
background: #000000;
}
.text-center{
    font-weight: 400;
}
.create:hover{
    background-color: rgb(181, 181, 181);
    color: white;
    font-weight: bold;
}
.continue:hover{
    font-weight: bold;
}
@media only screen and (max-width: 770px){
    .block1{
        margin-top: 15px;
        height: 20%;
        width: 38%;
    }
    .container-fluid{
        padding-top: 8px;
    }
    .card {
        border: 0;
        width: 100%;
        max-width: 400px;
        padding: 0 20px;
    }
}
