
<div class="container-fluid">
    <div class="pt-5 card">
        <form [formGroup]="editedForm" class="row">
            <div class="form-group col-lg-6 col-12">
                <label for="firstName" class="form-label">First Name<span class="requiredSymbol">&nbsp;*</span></label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName" 
                placeholder="Enter your first name" [readonly]="btnToggler">
                <div *ngIf="editedForm.controls['firstName'].touched && editedForm.controls['firstName'].errors" class="text-danger">
                    <p *ngIf="editedForm.controls['firstName'].errors['required']">
                        First name is required
                    </p>
                    <p *ngIf="editedForm.controls['firstName'].errors['nameError']">
                        {{editedForm.controls['firstName'].errors['nameError'].message}}
                    </p>
                </div>
            </div>
            <div class="form-group col-lg-6 col-12">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter your last name"[readonly]="btnToggler">
                <div *ngIf="editedForm.controls['lastName'].touched && editedForm.controls['lastName'].errors">
                    <p *ngIf="editedForm.controls['lastName'].errors['nameError']" class="text-danger">
                        Last name is invalid
                    </p>
                </div>
            </div>
            <div class="form-group col-lg-6 col-12">
                <label for="emailId" class="form-label">Email Id<span class="requiredSymbol">&nbsp;*</span></label>
                <input type="text" class="form-control" id="emailId" formControlName="emailId" placeholder="Enter your email Id"[readonly]="btnToggler">
                <div *ngIf="editedForm.controls['emailId'].touched && editedForm.controls['emailId'].errors" class="text-danger">
                    <p *ngIf="editedForm.controls['emailId'].errors['required']">
                        Email Id is required
                    </p>
                    <p *ngIf="editedForm.controls['emailId'].errors['emailIdError']">
                        {{editedForm.controls['emailId'].errors['emailIdError'].message}}
                    </p>
                </div>
            </div>
            <div class="form-group col-lg-6 col-12">
                <label for="phNo" class="form-label">Phone Number<span class="requiredSymbol">&nbsp;*</span></label>
                <input type="tel" class="form-control" id="phNo" formControlName="phoneNumber" placeholder="Enter your phone number"[readonly]="btnToggler">
                <div *ngIf="editedForm.controls['phoneNumber'].touched && editedForm.controls['phoneNumber'].errors" class="text-danger">
                    <p *ngIf="editedForm.controls['phoneNumber'].errors['required']">
                        Phone number is required
                    </p>
                    <p *ngIf="editedForm.controls['phoneNumber'].errors['phoneNumberError']">
                        {{editedForm.controls['phoneNumber'].errors['phoneNumberError'].message}}
                    </p>
                </div>
            </div>
            <!-- <div class="form-group col-lg-6 col-12">
                <label for="pwd" class="form-label">Password<span class="requiredSymbol">&nbsp;*</span></label>
                <input type="password" class="form-control" id="pwd" formControlName="password" placeholder="Enter the password">
                <div *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].errors" class="text-danger">
                    <p *ngIf="signUpForm.controls['password'].errors['required']">
                        Password is required
                    </p>
                    <p *ngIf="signUpForm.controls['password'].errors['passwordError']">
                        {{signUpForm.controls['password'].errors['passwordError'].message}}
                    </p>
                </div>
            </div>
            <div class="form-group col-lg-6 col-12">
                <label for="confirmPwd" class="form-label">Confirm Password<span class="requiredSymbol">&nbsp;*</span></label>
                <input type="password" class="form-control" id="confirmPwd" formControlName="confirmPassword" placeholder="Enter the confirm password">
                <div *ngIf="signUpForm.controls['confirmPassword'].touched && signUpForm.controls['confirmPassword'].errors" class="text-danger">
                    <p *ngIf="signUpForm.controls['confirmPassword'].errors['required']">
                        Confirm Password is required
                    </p>
                    <p *ngIf="signUpForm.controls['confirmPassword'].errors['confirmPwdError']">
                        {{signUpForm.controls['confirmPassword'].errors['confirmPwdError'].message}}
                    </p>
                </div>
            </div> -->
            <div class="form-group col-lg-6 col-12 pt-3" formGroupName="roles">
                <div class="form-label">Roles<span class="requiredSymbol">&nbsp;*</span></div>&nbsp;
                <label for="customer" class="form-label roles">{{roles[0]}}</label>
                <input type="checkbox" id="customer" formControlName="customer" class="form-check-input"[readonly]="btnToggler">&nbsp;
                <label for="seller" class="form-label roles">{{roles[1]}}</label>
                <input type="checkbox" id="seller" formControlName="seller" class="form-check-input"[readonly]="btnToggler">&nbsp;
                <label for="admin" class="form-label roles">{{roles[2]}}</label>
                <input type="checkbox" id="admin" formControlName="admin" class="form-check-input"[readonly]="btnToggler">&nbsp;
                <div *ngIf="editedForm.controls['roles'].touched && editedForm.controls['roles'].errors">
                    <div *ngIf="editedForm.controls['roles'].errors['atLeastOneCheckboxRequired']" class="text-danger">
                        {{editedForm.controls['roles'].errors['atLeastOneCheckboxRequired'].message}}
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-12 pt-3">
                <div class="d-grid">
                    <button type="!btnToggler?submit:''" class="btn btn-warning btn-block my-2" (click)='btnToggler=!btnToggler;updateUserDetails()'>{{btnToggler?'Edit':'Save'}}</button>
                </div>
            </div>
            <p class="text-center text-success pt-5 fw-bold">{{btnToggler?successMessage:''}}</p>
        </form>
    </div>
</div>