.container-fluid{
    
}
.card {
    border: 0;
    width: 100%;
    padding: 20px 20px 0 20px;
}
.form-check-input{
    margin-left: 20px;
}

.requiredSymbol{
    color: red;
    font-weight: bold;
}
.form-control{
    border-radius: 0;
    margin-bottom: 30px;
}
.form-label{
    font-weight: 500;
}
.roles{
    font-weight: 400;
}