<div class="container-fluid">
    <!-- carousel -->
    <div id="home" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <!-- <div class="carousel-indicators"> -->
        <!-- <button type="button" data-bs-target="#home" data-bs-slide-to="0" class="active">            </button>
            <button type="button" data-bs-target="#home" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#home" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#home" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#home" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#home" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#home" data-bs-slide-to="6"></button> -->

        <!-- </div> -->

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://m.media-amazon.com/images/I/71cp9PVuTfL._SX3000_.jpg " alt="Los Angels"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/61ERFXSIxGL._SX3000_.jpg" alt="Los Angels"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/81dechxRJEL._SX3000_.jpg" alt="Los Angels"
                    class="d-block w-100">
                <a href="https://www.fundaofwebit.com/ecommerce-template/how-to-make-ecommerce-slider-design-using-html-css-and-bootstrap#google_vignette"
                    style="position:absolute;left:20%;top:0%;width:31.5%;height:50%" target=""
                    aria-label="furniture &amp; mattresses"></a>
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/91K5AAFHN2L._SX3000_.jpg" alt="Los Angels"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/61Dr+oVuClL._SX3000_.jpg" alt="Los Angels"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/91O7OLaxSTL._SX3000_.jpg" alt="Los Angels"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/91IVyMohcOL._SX3000_.jpg" alt="Los Angels"
                    class="d-block w-100">
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#home" data-bs-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#home" data-bs-slide="next">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
    <!-- Categories -->
<div class="container-fluid category-section">
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Appliances for your home | Up to 55% off</h5>
                    </div>
                    <div class="category">
                        <div class="category-product">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_.jpg"alt="Air Conditioners">
                            <div class="category-product-title">
                                Air Conditioners
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08345R1ZW._SY116_CB667322346_.jpg" alt="Refrigerators">
                            <div class="category-product-title">
                                Refrigerators
                            </div>
                        </div>
                        <div class="category-product">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B07G5J5FYP._SY116_CB667322346_.jpg"alt="Microwaves">
                            <div class="category-product-title">
                                Microwaves
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/186x116---wm._SY116_CB667322346_.jpg" alt="Washing machines">
                            <div class="category-product-title">
                                Washing machines
                            </div>
                        </div> 
                    </div> 
                    <div class="showbtn">
                        Show more
                    </div>            
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Revamp your home in style</h5>
                    </div>
                    <div class="category">
                        <div class="category-product">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/186x116_Home_furnishings_2._SY116_CB584596691_.jpg"alt="Cushion covers, bedsheets & more">
                            <div class="category-product-title">
                                Cushion covers, bedsheets
                                <br> & more
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/PC_QC_HOME_186_3._SY116_CB558389341_.jpg" alt="Starting ₹199 | Curtains">
                            <div class="category-product-title">
                                Starting ₹199 | <br>Curtains
                            </div>
                        </div>
                        <div class="category-product">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/186x116_Home_storage_1._SY116_CB584596691_.jpg"alt="Home storage">
                            <div class="category-product-title">
                                Home storage
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/186x116_Home_lighting_2._SY116_CB584596691_.jpg" alt="">
                            <div class="category-product-title">
                                Lighting solutions
                            </div>
                        </div> 
                    </div>
                    <div class="showbtn">
                        Show more
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Starting ₹199 | Amazon Brands & more</h5>
                    </div>
                    <div class="category">
                        <div class="category-product">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/AmazonBrands/Deeksha/QC_186x116_4._SY116_CB598553050_.jpg"alt="Upto 60% off | Bikes & br ride-ons">
                            <div class="category-product-title">
                                Upto 60% off | Bikes & <br> ride-ons
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/AmazonBrands/Deeksha/QC_372x232_3._SY116_CB598553751_.jpg" alt="Starting ₹159 | Indoor toys & games">
                            <div class="category-product-title">
                                Starting ₹159 | Indoor <br> toys & games
                            </div>
                        </div>
                        <div class="category-product">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/AmazonBrands/Deeksha/QC_186x116_1._SY116_CB598553050_.jpg"alt="Minimum 40% off | Ironing board & more">
                            <div class="category-product-title">
                                Minimum 40% off |<br>Ironing board & more
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/PC_QC_HOME_186_1._SY116_CB558389341_.jpg" alt="Up to 60% off | Home decor">
                            <div class="category-product-title">
                               Starting ₹129 | Baby <br> diapers, wipes & more
                            </div>
                        </div> 
                    </div>
                    <div class="showbtn"  style="padding-top: 5px;">
                        Show more
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Under ₹499 | Pocket-friendly fashion</h5>
                    </div>
                    <div class="category">
                        <div class="category-product">
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/BTF-Refresh/May/PC-PFF/PFF-1-186-116._SY116_CB636055991_.jpg"alt="Clothing">
                            <div class="category-product-title">
                                Clothing
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/BTF-Refresh/May/PC-PFF/PFF-3-186-116._SY116_CB636055991_.jpg" alt="Backpacks & Watches">
                            <div class="category-product-title">
                                Backpacks & Watches
                            </div>
                        </div>
                        <div class="category-product">
                            <img src="https://m.media-amazon.com/images/I/61Q6oUzZjkL._AC_SY200_.jpg"alt="Footwear">
                            <div class="category-product-title">
                                Footwear
                            </div>
                        </div>
                        <div class="category-product" >
                            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/BTF-Refresh/May/PC-PFF/PFF-4-186-116._SY116_CB636055991_.jpg" alt="Fashion jewellery">
                            <div class="category-product-title">
                                Fashion jewellery
                            </div>
                        </div> 
                    </div>
                    <div class="showbtn">
                        Show more
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
