.container-fluid{
    padding: 0;
    width: 100%;
    height: 100%;
}
.cover-photo{
    background-image: url(https://freerangestock.com/sample/37396/space-background.jpg);
    position: relative;
}
.profile-image{
    border: 2px solid whitesmoke;
    height: 150px;
    margin: 10px;
}
.user-contents{
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: x-large;
}
.user-content{
    color: whitesmoke;
    margin: 0 80px;
    font-weight: 500;
    
}
.userName{
    color: whitesmoke;
    font-weight: bold;
    font-size: x-large;
}
.card{
    border-radius: 0;
    border-top: 0;
    border: 2px solid white;
    margin: 30px 10px;
    background-color: white;
}
.card-text{
    padding: 40px 20px 8px 25px;
    font-weight: 500;
}
.open{
    cursor: pointer;
}
.box{
    position: relative;
}
.popUp{
    position: absolute;
    top: 40px;
    width: 100px;
    height: 100px;
    right: -100px;
    padding-left: 10px;
}
.popUp::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -40px; /* Position the arrow to the left of the pop-up */
    border-width: 30px; /* Size of the arrow */
    border-style: solid;
    border-color: transparent white transparent transparent; /* Arrow color */
    transform: translateY(-50%); /* Center the arrow vertically */
  }
  .btn{
    border-color: black ;
  }

  .card-data{
    overflow: scroll;
  }
 
@media only screen and (max-width: 770px){
    .profile-image{
        height: 70px;
        margin: 5px;
    }
}